body {
    font-family: Arial, sans-serif; /* Sets the global font to Arial */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
}

.container {
    width: 60%; /* Adjusts the width of the container to make the content more centered */
    margin: 20px auto; /* Centers the container horizontally and adds some space at the top and bottom */
    flex: 1;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0; /* Adds padding at the top and bottom of the header */
    text-align: center;
}

nav {
    background: #444;
    color: #fff;
    padding: 10px 0; /* Adds padding at the top and bottom of the navigation bar */
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px; /* Adds space between navigation links */
}

section {
    padding: 20px; /* Adds padding inside each section for spacing */
    text-align: justify; /* Justifies the text within each section for a cleaner look */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0; /* Adds padding at the top and bottom of the footer */
    margin-top: auto; /* Pushes the footer to the bottom of the viewport */
}
